tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /etc/cloudflared/REPLACE_WITH_TUNNEL_ID.json

ingress:
  - hostname: mirai.mezon.uz
    service: http://127.0.0.1:80
  - hostname: api.mirai.mezon.uz
    service: http://127.0.0.1:80
  - service: http_status:404