tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /etc/cloudflared/REPLACE_WITH_TUNNEL_ID.json

ingress:
  - hostname: mirai-edu.space
    service: http://127.0.0.1:80
  - hostname: '*.mirai-edu.space'
    service: http://127.0.0.1:80
  - hostname: api.mirai-edu.space
    service: http://127.0.0.1:80
  - service: http_status:404
